.radio-toolbar {
    margin: 0 !important;
    width: 50% !important;
  }
  
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar label {
      display: inline-block;
      background-color: #ddd;
      padding: 10px 20px;
      font-family: sans-serif, Arial;
      font-size: 16px;
      border: 2px solid #444;
      border-radius: 4px;
  }
  
  .radio-toolbar label:hover {
    background-color: #dfd;
  }
  
  .radio-toolbar input[type="radio"]:focus + label {
      border: 2px dashed #444;
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: #bfb;
      border-color: #4c4;
  }
    
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 700px) {
  .col-s-1 {width: calc(8.33%-5px)}
  .col-s-2 {width:  calc(16.66%-5px);}
  .col-s-3 {width:  calc(25%-5px);}
  .col-s-4 {width:  calc(33.33%-5px);}
  .col-s-5 {width:  calc(41.66%-5px);}
  .col-s-6 {width:  calc(50%-5px);}
  .col-s-7 {width:  calc(58.33%-5px);}
  .col-s-8 {width:  calc(66.66%-5px);}
  .col-s-9 {width:  calc(75%-5px);}
  .col-s-10 {width:  calc(83.33%-5px);}
  .col-s-11 {width:  calc(91.66%-5px);}
  .col-s-12 {width:  calc(100%-5px);}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 700px) and (max-width:1024px) {
  .col-m-1 {width: calc(8.33%-10px)}
  .col-m-2 {width:  calc(16.66%-10px);}
  .col-m-3 {width:  calc(25%-10px);}
  .col-m-4 {width:  calc(33.33%-10px);}
  .col-m-5 {width:  calc(41.66%-10px);}
  .col-m-6 {width:  calc(50%-10px);}
  .col-m-7 {width:  calc(58.33%-10px);}
  .col-m-8 {width:  calc(66.66%-10px);}
  .col-m-9 {width:  calc(75%-10px);}
  .col-m-10 {width:  calc(83.33%-10px);}
  .col-m-11 {width:  calc(91.66%-10px);}
  .col-m-12 {width:  calc(100%-10px);}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 1024px) {
  .col-l-1 {width: calc(8.33%-20px)}
  .col-l-2 {width:  calc(16.66%-20px);}
  .col-l-3 {width:  calc(25%-20px);}
  .col-l-4 {width:  calc(33.33%-20px);}
  .col-l-5 {width:  calc(41.66%-20px);}
  .col-l-6 {width:  calc(50%-20px);}
  .col-l-7 {width:  calc(58.33%-20px);}
  .col-l-8 {width:  calc(66.66%-20px);}
  .col-l-9 {width:  calc(75%-20px);}
  .col-l-10 {width:  calc(83.33%-20px);}
  .col-l-11 {width:  calc(91.66%-20px);}
  .col-l-12 {width:  calc(100%-20px);}
  
}
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  margin: 10px;
  background-color: white;
}

.flight-img {
  max-width: 200px;
  width: auto;
}
@media only screen and (min-width: 1024px) {
  .flight-img {
    max-width: 150px;
    width: auto;
  }
}
.flight-filter {
  padding: 25px;
}
@media only screen and (max-width: 700px) {
  .flight-filter {
    padding: 15px;
  }
  .year-button {
    margin: 8px;
    padding: 5px;
  }
}
#root {
  margin: 0 auto;
  max-width: 1400px;
}
.flight-detail-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.flight-container {
  background: whitesmoke;
  margin: 0;
  display: flex;  
  flex-wrap: wrap;
}
@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .year-button {
    margin: 5px;
  }
  .flight-detail-container {
    margin: 5px;
  }
  .flight-filter {
    padding: 10px;
  }
}
